
.root{
	-fx-background-image:url('../static/images/bg.jpg');
	-fx-background-size:100% 100%;
}

.paneContainer {
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}

.bar-btn:hover {
    -fx-background-color: rgba(255, 255, 255, 0.3);
}

.bar-btn:pressed {
    -fx-background-color: rgba(135, 110, 245, 0.3);
}

.exit-btn:hover {
   -fx-scale-x: 1.1;
}

.panes:hover {
    -fx-scale-x: 1.1;
}

.courses:hover {
    -fx-scale-x: 0.8;
}

.login-btn:hover {
    -fx-scale-x: 1.1;
}

.hyperlien:hover {
    -fx-text-fill: blue;
}

.login-text {
    -fx-text-fill: rgb(172, 172, 172);
}

.loginAs:hover {
    -fx-translate-x: -195px;
}

.linear-grad
{
    -fx-background-color: linear-gradient(to bottom left,  #00154f, #ff4007);
}
.linear-grad1
{
    -fx-background-color: linear-gradient(to bottom left,  #373B44, #4286f4);
}
.linear-grad2
{
    -fx-background-color: linear-gradient(to bottom left,  #f12711, #f5af19);
}
.linear-grad3
{
    -fx-background-color: linear-gradient(to bottom left,  #8360c3, #2ebf91);
}
.linear-grad4
{
    -fx-background-color: linear-gradient(to bottom left,  #22c1c3, #fdbb2d);
}
.linear-grad5
{
    -fx-background-color: linear-gradient(to bottom left, #ee0979, #ff6a00);
}
.linear-grad6
{
    -fx-background-color: linear-gradient(to bottom left,  #00154f, #ff4007);
}
.linear-grad7
{
    -fx-background-color: linear-gradient(to bottom left,  #fc354c, #0abfbc);
}
.linear-grad8
{
    -fx-background-color: linear-gradient(to bottom left,  #fdfc47, #24fe41);
}















