
.root{
	-fx-background-image:url('../static/images/bg.jpg');
	-fx-background-size:100% 100%;
}

.paneContainer {
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}

.bar-btn:hover {
    -fx-background-color: rgba(255, 255, 255, 0.3);
}

.bar-btn:pressed {
    -fx-background-color: rgba(135, 110, 245, 0.3);
}

.exit-btn:hover {
   -fx-scale-x: 1.1;
}

.panes:hover {
    -fx-scale-x: 1.1;
}

.login-btn:hover {
    -fx-scale-x: 1.1;
}

.hyperlien:hover {
    -fx-text-fill: blue;
}

.login-text {
    -fx-text-fill: rgb(172, 172, 172);
}

.loginAs:hover {
    -fx-translate-x: -195px;
}

.linear-grad
{
    -fx-background-color: linear-gradient(to bottom left,  #00154f, #ff4007);
}















